<!DOCTYPE html>
<html>
<head>
	<title>Become a Scott</title>
	<link rel="stylesheet" href="/stylesheets/base.css">
	<link rel="stylesheet" href="/stylesheets/skeleton.css">
	<link rel="stylesheet" href="/stylesheets/layout.css">
	<!-- <link rel="stylesheet" href="/stylesheets/normalize.css"> -->
	<!-- <link rel="stylesheet" href="/stylesheets/styles.css"> -->
	
</head>


<body>
	<div class="container">
		<header class="sixteen columns">
			<div id="header-content">
				<div class="row">
					<h1 class="title sixteen columns alpha omega remove-bottom">Become a Scott</h1>
				</div>
				<div class="row">
					<div class="offset-by-three thirteen columns alpha omega">
						<div class="row remove-bottom">
							<nav>

							<% button = @buttons[0] %>
								<div class="five columns alpha" >
									<a href="<%= button[:url] %>" class="nav-link" ><%= button[:text] %></a>
								</div>
								
							<% button = @buttons[1] %>
								<div class="five columns omega" >
									<a href="<%= button[:url] %>" class="nav-link"><%= button[:text] %></a>
								</div>

							</nav>
						</div>
					</div>
				</div>
			</div>
		</header>
		<br class="clear">
		
		<%= yield %>
		
		<br class="clear">
	<% if @scott %>
		<div class="offset-by-six four columns">
			<a href="/logout" class="button done-button add-bottom">I'm done being scott...</a>
		</div>
	<% end %>

	</div>
</body>

</html>