<div class="offset-by-four four columns">
	<h2>what <span class="freal">mad skills</span> do you posess?</h2>
	<h4>(as Scott...)</h4>
</div>

<div class="four columns">

<form action="/scott/<%= @post_path %>" method="post">
	<div>
		<label for="skill">SKILL:</label>
		<input type="text" name="skill[skill]" value="<%= @mad_skill.present? ? @mad_skill.skill : "" %>">
	</div>
	<div>
		<label for="genre">GENRE:</label>
		<select name="skill[genre]" >
			<% @skill_genres.each do |skill_genre| %>
				<option value="<%= skill_genre %>"><%= skill_genre %></option>
			<% end %>
		</select>
	</div>
	<div>
		<label for="level">SKILL LEVEL:</label>
		<select name="skill[level]" >
			<% (1..10).each do |i| %>
				<option value="<%= i %>"><%= i %></option>
			<% end %>
		</select>
			
	</div>
	<input type="submit" value="<%= @mad_skill.present? ? 'edit' : 'acquire' %> mad skill">
	
	<% if @mad_skill.present? %>
		<label for="delete">-OR-</label>
		<a class="button" href="/scott/delete_mad_skill/<%= @mad_skill.id %>">delete skill</a>
		<a href="/scott" class="button">cancel</a>
	<% end %>
</form>
</div>
